<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fragment">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@drawable/kuehli"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name="com.foodgent.buchfrei.UserInterface.MainActivity" />

        <activity android:name="com.foodgent.buchfrei.UserInterface.Crashreport.CrashReport" />


        <activity
            android:name="com.foodgent.buchfrei.UserInterface.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.foodgent.buchfrei.UserInterface.SettingPage.SettingsActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.SettingPage.GestureActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Premium.BuyPremiumActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Premium.SpecialSettingsActivity"
            tools:ignore="InnerclassSeparator" />


        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Premium.BarcodeManage"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Recipe.ShowRecipeActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Item.AddItemActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Recipe.CookNowActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.SettingPage.AboutDevsActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Recipe.AddStepList"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Recipe.AddCooking"
            tools:ignore="InnerclassSeparator" />


        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Recipe.ItemsNotAvailableActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.UserInterface.SettingPage.SettingsActivityModern"
            tools:ignore="InnerclassSeparator" />


        <activity
            android:name="com.foodgent.buchfrei.UserInterface.Premium.ChangeShopListApperance"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.foodgent.buchfrei.Logic.ScanCodeActivity"
            tools:ignore="InnerclassSeparator" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />




            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />



        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--Service handling Google Sign-In user revocation. For apps that do not integrate withGoogle Sign-In, this service will never be started. -->

        <service
            android:name="com.foodgent.buchfrei.UserInterface.Widget.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.foodgent.buchfrei.UserInterface.Widget.WidgetProvider"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>




        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>